footer {
    font-family: 'Roboto';
    font-size: 14px;
}

.footer-blue-div {
    color: white;
    background-color: #000000;
    padding: 2% 8%; /* Top, right, bottom, left*/
    box-sizing: border-box;
}

.footer-line-div {
    padding: 10px 10px; /* Top and bottom*/
}

.footer-warning-div {
    display: flex;
    justify-content: center;
}

.foot-nav-li {
    list-style: none;
}

.foot-nav-ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
}

.foot-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
